.root {
    -fx-background-color: #b4b8b8 #718ff5;
    -fx-font-family: verdana;
    -fx-opacity: 0.9;
}

.menu-bar {
    -fx-background-color: #718ff5;
}

.button {
    -fx-color: #d3dbdb;
    -fx-font-family: verdana;
}

.choice-box {
    -fx-color: #d3dbdb;
    -fx-font-family: verdana;
}